<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Delicious - Food Website | Home</title>
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

    {% include 'navbar.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'footer.html' %}

    <!-- Bootstrap JS-->
        <script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
    <script>
        function myFunction(id) {
      var dots = document.getElementById("dots" + id);
      var moreText = document.getElementById("more" + id);
      var btnText = document.getElementById("myBtn"+ id);

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "Read more";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "Read less";
        moreText.style.display = "inline";
      }
    }
    </script>
</body>

</html>