{% load static %}
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">

    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active">
                    <a href="{% url 'dashboard_page' %}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'recipe_list' %}"><i class="fas fa-chart-bar"></i>Recipe</a>
                </li>
                <li>
                    <a href="{% url 'ingredient_list' %}"><i class="fas fa-chart-bar"></i>Ingredient</a>
                </li>
                <li>
                    <a href="{% url 'step_list' %}"><i class="fas fa-chart-bar"></i>Step</a>
                </li>
                <li>
                    <a href="{% url 'blog_list' %}"><i class="fas fa-chart-bar"></i>Blog</a>
                </li>
                <li>
                    <a href="{% url 'getintouch_list' %}"><i class="fas fa-chart-bar"></i>GetInTouch</a>
                </li>
                <li>
                    <a href="{% url 'followers_list' %}"><i class="fas fa-chart-bar"></i>Followers</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->